@import '../../styles/_Colors.module.scss';
.About{
    position: relative;
    min-width: 100vw;
    min-height:100vh;
    width: 100%;
    height:100%;
    .container{
        @include Container;
        margin-top: 2rem;
        padding-bottom: 5rem;
        width: 100%;
        .quote{
            // padding-top: 25rem;
            display: flex;
            justify-content:center;
            width: 100%;
            font-size: 2.25rem;
            text-align: start;
            color: $font-color;
            
        }
        .paginationContainer{
            display: flex;
            align-items: baseline;
            margin: 0 auto;
            .pagination{
                font-size: 1.25rem;
                color: $font-color;
            }
            .title{
                font-size: 19.1875rem;
                width: 100%;
                text-align: center;
            }
        }
        .description{
            display: flex;
            width: 100%;
            font-size: 2.25rem;
            color:$font-color;
            // margin: 5rem 0;
            // padding-bottom: 8rem;
            justify-content: flex-end;
            p{
                text-align: start;
                width: 55vw;
            }
        }
    }
    .topArrow{
        position: fixed;
        z-index: 90;
        height: 50px;
        width: 50px;
        top: auto;
        left: auto;
        bottom: 5%;
        right: 3.5%;
        font-size: 1.5rem;
        color:$font-color;
        display:flex;
        align-items: center;
        justify-content: center;
        border:2px solid $font-color;
        -webkit-border-radius:50%;
        -mox-border-radius:50%;
        border-radius: 50%;
        cursor: pointer;
        background-color: transparent;
    }
}

@media screen and (max-width:1200px){
    .About .container{
        padding-top: 25%;
        .quote{
            font-size:2rem;
        }
        .paginationContainer .title{
            font-size: 16rem;
        }
        .description p{
            width: 70vw;
            font-size: 2rem;
        }
    }
}
@media screen and (max-width:768px){
    .About .container{
        padding-top: 18%;
        padding-bottom: 0;
        .quote{
            font-size: 1.25rem;
        }
        .paginationContainer {
            margin:3rem 0;
            .title{
                font-size: 10rem;
            }
        }
        .description p{
            width: 100vw;
            font-size: 1.25rem;
        }
    }
}
@media screen and (max-width:600px){
    .About .container{
        padding-top:50%;
        padding-left: 2rem;
        padding-right: 2rem;
        .quote, .description p{
            font-size: 1rem;
        }
        .paginationContainer {
            margin: 5rem 0;
            .title{
            font-size: 5rem;
            }
        }
        
    }
}