@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");
// $font-color:#aeaeae;
$font-color:rgba(0, 0, 0, 100%);
$secondary-font-color:#7f7f7f;
$blur-background:rgba(225%,225%,225%,0.25);
$black-font-color:#000;
$background-color:#fff;

@mixin Poppins{
    font-family: 'Poppins', sans-serif;
}
@mixin Bai{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
}
@mixin Bodoni{
    font-family: 'Bodoni Moda', serif;
}
@mixin Syncopate{
    font-family: 'Syncopate', sans-serif;
    font-weight: 600;
}
@mixin Section {
    min-height: 32px;
    margin-bottom:15rem;
    padding-top: 0;
    padding-right:0;
    padding-bottom:0;
}
@mixin Container {
    position:relative;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0 8rem;
}

