@import './Colors.module';
@media (hover:none){
    .navContainer .navbar .navLinks ul li div .subtitle{
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
}
.navContainer{
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    .navbar{
    @include Container;
        display: flex;
        justify-content:space-between;
        font-size: 1.5rem;
        padding-top: 18px;
        padding-bottom: 18px;
        align-items:center;
        .leftNav{
            z-index: 20;
            .color{
                color: $background-color !important;
            }
            .name{
                color: $font-color;
                text-decoration: none;
                z-index: 10;
                transition: all 1s ease-in-out;
            }
            .phoneNav{
                display: none;
            }
        }
        .navOpen{
            -webkit-clip-path:circle(125vw at 90% -10%) !important;
            clip-path: circle(125vw at 90% -10%) !important;
        }
        .navLinks{
            position: fixed;
            display: flex;
            background-color: $font-color;
            color: $background-color;
            top:0;
            left:0;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            width:100vw;
            // width: 100%;
            min-height: 100vh;
            height: 100%;
            overflow: hidden;
            transition: all 1s ease-out;
            -webkit-clip-path:circle(100px at 105%  -10%);
            clip-path: circle(100px at 105%  -10%);
            ul{
                li{ 
                    list-style: none;
                    margin-bottom: 0.5rem;
                    div{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        a{
                            text-decoration:none;
                            color: $background-color;
                            text-transform: uppercase;
                            font-size: 4.0625rem;
                            text-align: center;
                        }
                        .subtitle{
                            opacity: 1;
                            transform: translateY(0);
                            color:hsla(0, 0, 100%, 0.7) ;
                        }
                    }
                    
                }
            }
        }
        .menuToggle{
            display: flex;
            height: 50px;
            width: 50px;
            position: relative;
            cursor: pointer;
            color: white;
            z-index: 15;
            .background{
                background-color: $background-color !important;
                &::after,&::before{
                    background-color: $background-color !important;
                }
            }
            .menu{
                background: $black-font-color;
                position: absolute;
                width: 50px;
                height: 3px;
                top: 50%;
                left: 0;
                right: 0;
                bottom: 50%;
                transition: transform 350ms ease-in-out, background 1s ease-in-out;
                transform: rotate(0);
                transform-origin: center;
                -webkit-border-radius:4px;
                -mox-border-radius:4px;
                border-radius: 4px;
                &:before, &:after{
                    content: "";
                    position: absolute;
                    width: 25px;
                    height: 3px;
                    background: $black-font-color;
                    transition: transform 350ms ease-in-out, background 1s ease-in-out;
                    transform-origin: center;
                    -webkit-border-radius:4px;
                    -mox-border-radius:4px;
                    border-radius: 4px;
                }   
                &:before{
                    left: 0;
                    transform: translateY(-10px) rotate(0);
                    // transform: rotateX(45deg);
                    // animation: nav 2s linear forwards;
                }
                &:after{
                    right: 0;
                    transform:translateY(10px) rotate(0);
                }
            }
        }
    }
}

.menuToggle.menuOpen .menu{
    transform: rotate(-45deg) !important;
    &:before{
        transform: translate(50%,-400%) rotate(-90deg) !important;
    }
    &::after{
        transform: translate(-50%,400%) rotate(-90deg) !important;
    }
}
@keyframes nav{
    from{
        transform: translateY(-10px) rotate(0)
    }
    to{
        transform: translateY(-10px) rotate(-145deg)
    }
}
@media screen and (max-width:1200px){
    .navContainer .navbar {
        padding-left: 5rem;
        padding-right: 5rem;
        .navLinks{
            -webkit-clip-path:circle(100px at 90% -15%) !important;
            clip-path: circle(100px at 90% -15%);
        }
        .navOpen{
            -webkit-clip-path:circle(150vw at 90% -10%) !important;
            clip-path: circle(150vw at 90% -10%);
        }
    }
}
@media screen and (max-width:768px){
    .navContainer .navbar {
        padding-left:3rem;
        padding-right:3rem;
        .navLinks{
            -webkit-clip-path:circle(100px at 90% -15%);
            clip-path: circle(100px at 90% -15%);
            ul li div{
                a{
                    font-size: 3rem;
                }
                .subtitle{
                    font-size: 0.75rem;
                }
            }
        }
    }
}
@media screen and (max-width:600px){
    .navContainer{
        .navbar{
            padding: 18px 2rem;
            .navLinks{
                -webkit-clip-path:circle(100px at 90% -25%);
                clip-path: circle(100px at 90% -25%);
            }
            .navOpen{
                -webkit-clip-path:circle(265vw at 90% -10%) !important;
                clip-path: circle(265vw at 90% -10%) !important;
            }
        }
    }
}