@import './Colors.module';
.Pagination{
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    margin-bottom: 7.5rem;
    .pagination{
        font-size: 1.25rem;
        color: $font-color;
    }
    .title{
        font-size: 14.5rem;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:1200px){
    .Pagination .title{
        font-size:10.5rem;
    }
}
@media screen and (max-width:768px){
    .Pagination {
        margin:3rem 0;
        .title{
            font-size: 6.5rem;
        }
    }
}
@media screen and (max-width:600px){
    .Pagination {
        margin:5rem 0;
        .title{
            font-size: 4.5rem;
        }
    }
}