@import './Colors.module';

.SayHello{
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // @include Bai;
    // @include Syncopate;
    
    .container{
        @include Container;
        width: 100%;
        display: flex;
        align-items:flex-start;
        .subtitle, .info > .title , .info .email{
            color: $font-color;
        }
        .subtitle{
            font-size: 1.125rem;
            padding-top: 1.75%;
            text-transform: capitalize;
            color: $secondary-font-color;
        }
        .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 90%;
            height: 25vh;
            justify-content: space-between;
            .title{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size:8rem;
                text-transform: uppercase;
                font-weight: 500;
            }
            .email a{
                text-decoration: none;
                font-size: 2.25rem;
                font-weight: 400;
                color: $secondary-font-color;
            }
        }
    }
}
@media screen and (max-width:1200px){
    .SayHello .container .info{
        width: 80%;
        height: 17vh;
        .title {
            font-size: 6rem;
        }
    }
}
@media screen and (max-width:768px){
    .SayHello .container{
        .subtitle{
            font-size: 1rem;
        }
        .info{
            .title{
                font-size: 4rem;
            }
            .email a{   
                font-size: 1.5rem;

            }
        }
    }
}
@media screen and (max-width:600px){
    .SayHello  .container{
        padding:0 2rem;
        .subtitle{
            font-size: 0.65rem;
        }
        .info{
            height:10vh;
            .title{
                font-size: 2.5rem;
            }
            .email a{
                font-size: 1rem;
            }
        }
    }
}