@import './Colors.module';
.Skills{
    margin-top:5rem;
    position:relative;
    overflow: hidden;
    width: auto;
    .container{
        display: flex;
        will-change: transform;
        width: calc(250 * 14);
        animation: scroll 10s linear infinite;
        .skill{
            width: 250px;
            height: 250px;
            svg{
                width:250px;
                height:100%;
            }
        }
        
    }
}
@keyframes scroll {
    0%{
        transform:translateX(0)
    }
    100%{
        transform:translateX(calc(-250px * 7))
    }
}