@import '../../styles/Colors.module.scss';

.Home{
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    .introContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .image img{
            max-width: 300px;
            max-height: 300px;
            height:100%;
            width: 100%;
        }
        .introduction p{
            font-size: 4rem;
            text-align: center;
            color: $font-color;
        }
    }
    .scrollDown{
        position: absolute;
        bottom: 5%;
        left: 50%;
        right: 50%;
        transform: translate(-50%,-50%);
        margin: auto;
        width: 34px;
        height: 55px;
        cursor: pointer;
        .mouse{
            width: 3px;
            height: 35px;
            padding: 10px 15px;
            border: 2px solid $font-color;
            opacity: 0.75;
            box-sizing: content-box;
            -webkit-border-radius:25px;
            -moz-border-radius:25px;
            border-radius: 25px;
            .scroller{
                width: 3px;
                height:10px;
                -webkit-border-radius:25%;
                -moz-border-radius:25%;
                border-radius: 25%;
                background-color: $font-color;
                animation: scroll 2.2s cubic-bezier(.15,.41,.69,.94) infinite;
            }
        }
    }
}

@keyframes scroll{
    0%{opacity: 0;}
    10%{transform: translateY(5px); opacity: 1;}
    100%{transform: translateY(15px); opacity: 0;}
}

@media screen and (max-width:768px){
    .Home{
        .introContainer{
            .image img{
                width:30vw;
                height: auto;
            }
            .introduction p{
                font-size: 3rem;
            }
        }
        .scrollDown{
            bottom: 10%;
        }
    }
}
@media screen and (max-width:600px){
    .Home {
        .introContainer .introduction p{
            font-size: 1.5rem;
        }
        .scrollDown{
            bottom:15%;
        }
    }
}