@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark-alpha.css";

@layer base {
	:root {
		--bg-color: var(--gray-1);
	}
}
.light .prose {
	--tw-prose-headings: var(--gray-12);
	--tw-prose-body: var(--gray-12);
	--tw-prose-bold: var(--gray-12);
	--tw-prose-links: var(--blue-11);
	--tw-prose-code: var(--gray-12);
	--tw-prose-quotes: var(--gray-12);
}

.dark .prose {
	--tw-prose-headings: var(--gray-12);
	--tw-prose-body: var(--gray-11);
	--tw-prose-bold: var(--gray-11);
	--tw-prose-links: var(--blue-11);
	--tw-prose-code: var(--gray-11);
	--tw-prose-quotes: var(--gray-11);
}
body {
	color: rgb(var(--foreground-rgb));
	background-color: var(--bg-color);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
@media (hover: none) {
	.link__sub-label {
		opacity: 1 !important;
		transform: translateY(0) !important;
	}
}

.menu {
	--_menu-width: 50px;
	--_menu-height: 3px;
	--_bg: var(--gray-12);
	--_transition: transform 350ms ease-in-out, background 1s ease-in-out;
	--_transform-origin: center;
	--_border-radius: 4px;
	background-color: var(--_bg);
	position: absolute;
	width: var(--_menu-width);
	height: var(--_menu-height);
	top: 50%;
	bottom: 50%;
	left: 0;
	left: 0;
	transition: var(--_transition);
	transform: rotate(0);
	transform-origin: var(--_transform-origin);
	border-radius: var(--_border-radius);
}

.menu::after,
.menu::before {
	content: "";
	position: absolute;
	width: calc(var(--_menu-width) / 2);
	height: var(--_menu-height);
	background-color: var(--_bg);
	transition: var(--_transition);
	transform-origin: var(--_transform-origin);
	border-radius: var(--_border-radius);
}
.menu--opened {
	--_bg: white;
	background-color: var(--_bg);
	&::after,
	&::before {
		background-color: var(--_bg);
	}
}
.menu::after {
	right: 0;
	transform: translateY(-10px) rotate(0);
}
.menu::before {
	left: 0;
	transform: translateY(10px) rotate(0);
}

.navOpened {
	-webkit-clip-path: circle(125vh at 90% -10%) !important;
	clip-path: circle(125vh at 90% -10%) !important;
}
@media only screen and (min-width: 768px) {
	.navOpened {
		-webkit-clip-path: circle(200vw at 90% -10%) !important;
		clip-path: circle(200vw at 90% -10%) !important;
	}
}

.navClosed {
	-webkit-clip-path: circle(100px at 105% -10%);
	clip-path: circle(100px at calc(100% + 100px) -10%);
}

button[aria-expanded="true"].navOpened .menu {
	transform: rotate(-45deg) !important;

	&::before {
		transform: translate(50%, -400%) rotate(-90deg) !important;
	}
	&::after {
		transform: translate(-50%, 400%) rotate(-90deg) !important;
	}
}
