@media (hover: none) {
  .Projects .container .projects .project .infoContainer {
    opacity: 1 !important;
    -webkit-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
  }
}

.Projects {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

.Projects .container {
  position: relative;
  max-width: none;
  padding: 11rem 5rem;
  padding: 3rem 5rem;
}

.Projects .container .paginationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.Projects .container .paginationContainer .pagination {
  font-size: 1.25rem;
  color: black;
}

.Projects .container .paginationContainer .title {
  font-size: 19.1875rem;
  width: 100%;
  text-align: center;
}

.Projects .container .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-top: 3rem;
  gap: 3rem;
}

.Projects .container .projects .project {
  position: relative;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 70vh;
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Projects .container .projects .project .pageOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(39%, transparent), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(180deg, transparent 39%, rgba(0, 0, 0, 0.6));
}

.Projects .container .projects .project .view {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
  height: 8rem;
  -webkit-border-radius: 100vw;
  -moz-webkit-radius: 100vw;
  border-radius: 100vw;
  background-color: black;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
}

.Projects .container .projects .project .view > div {
  color: #fff;
  font-size: 1.125rem;
  line-height: 130%;
}

.Projects .container .projects .project .infoContainer {
  position: absolute;
  left: 3rem;
  bottom: 0;
  right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Projects .container .projects .project .infoContainer .info .description {
  color: #fff;
  width: 50%;
  margin: 1rem 0;
}

.Projects .container .projects .project .infoContainer .title, .Projects .container .projects .project .infoContainer .github a {
  font-size: 2rem;
}

.Projects .container .projects .project .infoContainer .title {
  color: #fff;
}

.Projects .container .projects .project .infoContainer .github a {
  text-decoration: none;
  color: #fff;
}

.Projects .seeAll {
  width: 30vw;
  margin: 0 auto;
}

.Projects .seeAll a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: auto;
}

.Projects .seeAll .title {
  font-size: 2.75rem;
  color: black;
  margin: 0 2rem;
}

.Projects .seeAll .icon {
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 100%;
  font-size: 1.5rem;
}

.Projects .seeAll .icon svg {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .Projects .container .projects .project {
    height: 50vh;
  }
  .Projects .container .projects .project .infoContainer .info .description {
    width: 70%;
    padding: 0.5rem 0;
    font-size: 1rem;
  }
  .Projects .seeAll {
    width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .Projects .container {
    padding-top: 5rem;
  }
  .Projects .container .paginationContainer .title {
    font-size: 10rem;
  }
  .Projects .container .projects .project .view {
    width: 5rem;
    height: 5rem;
  }
  .Projects .container .projects .project .infoContainer .info .description {
    font-size: 0.75rem;
    width: 80%;
  }
  .Projects .seeAll .title {
    font-size: 2rem;
  }
  .Projects .seeAll .icon {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .Projects .container {
    padding: 5rem 2rem;
  }
  .Projects .container .paginationContainer .title {
    font-size: 5rem;
  }
  .Projects .container .projects .project {
    height: 30vh;
    width: 100%;
  }
  .Projects .container .projects .project .infoContainer {
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .Projects .container .projects .project .infoContainer .title {
    font-size: 1.125rem;
  }
  .Projects .seeAll {
    width: 70vw;
  }
  .Projects .seeAll .title {
    font-size: 1.5rem;
  }
  .Projects .seeAll .icon {
    width: 2rem;
    height: 2rem;
  }
}
/*# sourceMappingURL=Projects.module.css.map */