@import '../../styles/Colors.module';
@media (hover:none){
    .Projects .container .projects .project{
        .infoContainer{
            opacity: 1 !important;
            transform: translateY(0%) !important;
        }
        .view{
            display: none;
            opacity: 0 !important;
        }
    }
}
.ProjectsPage{
    margin-top:10rem !important;
}
.Projects{
    @include Section;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    .container{
        @include Container;
        margin-bottom: 5rem;
        .paginationContainer{
            display: flex;
            flex-direction:row;
            align-items: baseline;
            position: sticky;
            top: 0;
            .pagination{
                font-size: 1.25rem;
                color:$font-color
            }
            .title{
                font-size: 14.5rem;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
            }
        }
        .projects{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            margin-top: 3rem;
            gap:3rem;
            .project{
                position: relative;
                background-color: $font-color;
                z-index: 10;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                height: 70vh;
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items:center;
                .pageOverlay{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom:0;
                    left:0;
                    background-image: -webkit-gradient(linear,left top, left bottom, color-stop(39%, transparent), to(rgba(0,0,0,0.6)));
                    background-image: linear-gradient(180deg, transparent 39%, rgba(0,0,0,0.6));
                }
                .view{
                    position: sticky;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 8rem;
                    height: 8rem;
                    -webkit-border-radius:100vw;
                    -moz-webkit-radius:100vw;
                    border-radius: 100vw;
                    background-color: $font-color;
                    transform-style: preserve-3d;
                    will-change: transform;
                    & > div{
                        color: $background-color;
                        font-size: 1.125rem;
                        line-height: 130%;
                    }
                }
                .infoContainer{
                    position: absolute;
                    left: 3rem;
                    bottom: 0;
                    right: 3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    .info{
                        .description{
                            color: $background-color;
                            width: 50%;
                            margin: 1rem 0;
                        }
                    }
                    .title, .github a{
                        font-size: 2rem;
                    }
                    .title{
                        color: $background-color;

                    }
                    .github a{
                        text-decoration: none;
                        color: #fff;
                }
                }

            }
        }
    }
    .seeAll{
        width: 30vw;
        margin: 0 auto;
        a{
            display:flex;
            justify-content: center;
            align-items:center;
            text-decoration:none;
            width: auto;
        }
        .title{
            font-size: 2.75rem;
            color: $font-color;
            margin: 0 2rem;
        }
        .icon{
            width: 4rem;
            height:4rem;
            display: flex;
            justify-content:center;
            align-items:center;
            background-color:$font-color;
            -webkit-border-radius:100%;
            -moz-border-radius:100%;
            border-radius:100%;
            font-size: 1.5rem;
            svg{
                color: $background-color;
            }
        }

    }

}
@media screen and (max-width:1200px){
    .Projects{
        .container .projects .project{
            height: 50vh;
            .infoContainer .info .description{
                width: 70%;
                padding: 0.5rem 0;
                font-size:1rem ;
            }
        }
        .seeAll{
            width: 50vw;
        }
    }
}
@media screen and (max-width:768px){
    .Projects {
        .container{
            padding-top: 5rem;
            .paginationContainer .title{
                font-size:10rem ;
            }
            .projects .project{
                .view{
                    width: 5rem;
                    height: 5rem;
                }
                .infoContainer {
                    // bottom: 1rem;
                    .info .description{
                        font-size: 0.75rem;
                        width: 80%;
                    }
                }
            }
        }
        .seeAll{
            .title{
                font-size: 2rem;
            }
            .icon{
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

@media screen and (max-width:600px){
    .Projects {
        margin-bottom: 5rem;
        .container{
            padding: 0 2rem;
            .paginationContainer .title{
                font-size: 5rem;
            }
            .projects .project{
                height: 30vh;
                width: 100%;
                .infoContainer{
                    width: 90%;
                    margin: 0 auto;
                    left: 0;
                    right:0;
                    .title{
                        font-size: 1.125rem;
                    }
                }
            }
        }
        .seeAll{
            width: 70vw;
            .title{
                font-size: 1.5rem;
            }
            .icon{
                width: 2rem;
                height: 2rem;
            }
        }
    }
}