*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  position: relative;
  min-height: 100vh;
}
/* NavBar Component */
a{
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* margin: 10px; */
  font-size: 1.5rem;
  background-color: #32333A;
  min-width: normal;
  padding: 25px;
  align-items: center;
}
.navbar #name{
  color:#FAFAFA;
  text-decoration: none;
}
.navbar .nav-links{
  display: block ;
}
.navbar .nav-links ul {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
}
.navbar #phone-nav{
  display: none;
}
.navbar .nav-links ul li a{
  color:#FAFAFA;
  padding: 0 10px;
  text-decoration: none;
  margin: 0 5px;
  text-transform: uppercase;
}
.currentLocation{
  color: rgb(68, 67, 67) !important;
  border-bottom:1px solid #616060;
  }

#body{
  display: block;
  background-image: url('./images/coding.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  height: 100vh;
}

.text{
  display:block;
  background-color: rgba(251, 251, 251, 0.35);
  text-align: center;
  width: 70%;
  transform: translate(20%, 303%);
  font-size: 1.5rem;
}
#text, #dynamicText{
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  line-height: 100px;
  height: 100px; 
  text-align: center;
}
/* Projects Component */
.projects-title{
  text-align: center;
  margin: 25px 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
  color: #616060;
}
.projects{
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 20px;
  /* margin-left:214px; */
}
.title, .image, .description{
  pointer-events: none;
}
.hover{
  transition: ease-in-out 1s;
  background-color: #32333A;
  filter: brightness(10%);
}
.btn-display{
  display: flex !important;
}
.project{
  display: block;
  width: 618px;
  height: 513px;
  background-color: rgba(247, 246, 246, 1);
  margin: 25px;
}
.project .title{
  text-align: center;
  font-size: 1rem;
  padding-top: 20px;
}

.btns{
  pointer-events: auto;
  transition: ease-in-out 1s;
  position: absolute;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  transform: translate(247px, -343px);
}
.btns button{
  padding: 10px;
  margin: 10px 0;
  font-weight: 600;
  background-color: #FAFAFA;
  color:#32333A;
  border-radius: 5px;
  cursor: pointer;
}
.project .image{
  margin: 25px 0px;
  width: 100%;
  max-height: 316px;
  padding: 0 25px;
}
.project .description{
  text-align: center;
  margin: 0 39px;
  width: 80%;
}
/* Contact Component */
.contactForm{
  text-align: center;
  margin: 10% 0 ;

}
.contactForm #formTitle{
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 200;
}
#form{
  display: inline-grid;
  width: 50%;
}
.line{
  border: 1px solid #32333A;
  width: 50%;
  margin: 0 25%;
}
#subtitle{
  margin:20px 0
}
.error{
  border: 1px solid red;
}
#form input, #form textarea{
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}
#form .btn{
  width: 100px;
  border-radius: 5px;
  background: #616060;
  color: #FAFAFA;
}
/* Contact Component End */
/* About Component Start */
  #title{
    text-align: center;
    margin: 2% 0;
    font-weight: 200;
  }

  .container{
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
  }
  .container .photo img{
    width: 400px;
  }
  .container .description{
    width: 45%;
    text-align: center;
    margin: 5% 0;
  }
/* About Component End */
/* Carousel Component Start */
.carousel-wrapper{
}
.slider-container{
  display: flex;
  align-items: center;
  position: relative;
}
.carousel-wrapper .test{
  height: 300px;
  width: 300px;
  background: red;
}
.arrows{
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50%-25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
}
#previous{
  left: 0;
}
#next{
  right: 0;
}
.slider{
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.carousel{
  display: flex;
  flex-wrap: nowrap;
}
/* Carousel Component End */
/* Footer Component Start */
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.footer .footer-line{
  border: 1px solid #32333A;
  margin: 15px 5%;
}
.footer ul li{
  text-align: center;
}
.footer ul li a{
  font-size:2rem;
  list-style: none;
  color: #32333A;
}
/* Footer Component End */
/* Phone @media 600px and less */
@media only screen and (max-width:600px){
  body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* Navbar Component Start */
  .navbar{
    display: block;
  }
  .navbar .nav-links{
    display: none;
    transition: all .5s ease-in-out;
    min-height: 100vh;
    /* padding: 30px 0 0; */
    text-align: center;
  }
  .navbar .nav-links ul{
    display: block;
    width: 100%;
    padding: 30px 0;
  }
  .navbar .nav-links ul li{
    padding: 15px 0;
  }
  .navbar .left-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navbar #phone-nav{
    color: #FAFAFA;
    display: block;
  }
  /* Nav Component End */
  /* Body Component Start */
  #body{
    background-image: url('./images/phone-background.jpg');
  }
  /* Body Component End */
  /* Projects Component Start */
  .projects{
    flex-wrap: revert;
    justify-content: space-between;
    margin: 0px 10px;
    overflow-x: scroll;
  }
  .project{
    width:100%;
    margin: 0 5px;
    max-height: 370px;
    

  }
  #container{
    width: 100%;
    overflow-x: hidden;
  }
  .project .image{
    margin: 0px;
    padding: 10px 0;
    width: 382px;
    height: 218px;
  }
  .btns{
    display: none;
    width: fit-content;
    position: relative;
    transform: translate(130px, -250px);
  }
  /* Projects Component End */
  /* Contact Component Start */
  .contactForm{
    transform: translate(0px, 100px);
    height: 70vh;
  }
  /* Contact Component End */
  /* Footer Component Start */
  .footer{
    position: relative;
  }
  /* Footer Component End */
}